.phonetics-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.6rem;
}

.phonetics-list .phonetics {
  color: var(--secondary-color);
  font-weight: 500;
}

.phonetics-list .speaker {
  cursor: pointer;
  margin-bottom: -6px;
}

.phonetics-list .speaker:active {
  color: rgb(0, 145, 255);
}
